<ion-view view-title="Nigels App">
  <ion-content class="padding">
    <div class="list">
      <h1>Login</h1>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password">
      </label>
      <a href="#/tab/chats">
        <button class="button button-block button-assertive" >Submit</button>
      </a>
    </div>
  </ion-content>
</ion-view>
